.fade-enter {
  opacity: 0.5;
}
.fade-exit {
  opacity: 1;
  z-index: 99;
}
.fade-enter-active {
  opacity: 1;
  z-index: 99;
}
.fade-exit-active {
  opacity: 0.5;
}
.fade-enter-active,
.fade-exit-active {
  transition: all 0.2s ease-in-out;
}
